#CFastIconsInitialPage-mainContainer{
  width: 20%;
  height: 400px;

  transform: scale(80%);

  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

#CFastIconsInitialPage-imgPrincipal{
  width: 300px;
}