#CShowItensDLimpeza-mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#CShowItensDLimpeza-mainContainer > div {
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
    border: 1px solid black;

}
